{% extends 'DsgagenciaBundle::layout.html.twig' %}

{% block content %}
    <div id="trabajos">
        {% include 'DsgagenciaBundle:Trabajos:listar.html.twig' with {'trabajos': trabajos} %}
    </div>
{% endblock %}