<div class="row buscador">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">Buscador</div>
            <div class="panel-body">
                <form class="navbar-form navbar-left cajabuscador1" role="search">
                    <div class="form-group cajabuscador2">
                        <input type="text" class="form-control cajabuscador3" placeholder="Buscar">
                        <button type="submit" class="btn btn-default">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>