{% extends 'DsgagenciaBundle::layout.html.twig' %}
 
{% block content %}
    <div class="content">
        <h1>Su cuenta de usuario ha sido creada</h1>
        <div style="padding: 20px">
            Muchas gracias.
            Usted recibirá un mail con su clave tan pronto como su cuenta se haya activado.
        </div>
    </div>
{% endblock %}